doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",href="lib/plotdb.css")
    script(type="text/javascript",src="lib/plotdb.js")
    script(type="text/javascript",src="election.js")
    script(type="text/javascript",src="dependency.bundle.js")
  body
    #root
    script(type="text/javascript",src="index.js")

